//font
$fonte: 'kanit', sans-serif;

//color
$heading-color: #FFFFFF;
$paragraph-color:#BABABA;
$caption-color:#B3B0B7;

$primari-color1: linear-gradient(48deg, rgba(100,86,203,1) 0%, rgba(203,89,185,1) 50%, rgba(246,185,124,1) 100%);


$principal-black: #14141f;
$secundari-black: #1C1C2A;
$terciari-black: #3A3A3A;


//font-size

$body-font: 16px;
$h1-title:130px;
$h2-title:100px;
